
OPENAI_API_KEY=
GOOGLE_API_KEY=

DATABASE_URL=postgresql+psycopg2://kevin:Kevin123@localhost:5432/helpdesk
DATABASE_URL_ASYNC=postgresql+asyncpg://kevin:Kevin123@localhost:5432/helpdesk


SECRET_KEY=
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile